canvas
header.header
  .container
    .header__logo.logo
      span.logo__text 
        a(href="/") I 13 school
    nav.header__nav.nav
      ul.nav__ul.list
        li.list__item.list-item.dropdown
          a.list-item__link расписание 
          .dropdown-icon
          ul.dropdown-menu
            li.list-item__dropdown          
              a(href="https://sun9-14.userapi.com/CoijjqUp6OaMCo3BMrbaLF3gaBWOBFB_IRuIhA/rw3w_HvP8Pk.jpg") 1 - 4 классы
            li.list-item__dropdown 
              a(href="https://sun9-14.userapi.com/CoijjqUp6OaMCo3BMrbaLF3gaBWOBFB_IRuIhA/rw3w_HvP8Pk.jpg") 5 - 9 классы
            li.list-item__dropdown 
              a(href="https://sun9-14.userapi.com/CoijjqUp6OaMCo3BMrbaLF3gaBWOBFB_IRuIhA/rw3w_HvP8Pk.jpg") 10 - 11 классы
        li.list__item.list-item
          a(href="/#curses").list-item__link курсы 
        li.list__item.list-item
          a(href="/teachers").list-item__link преподаватели
        li.list__item.list-item
          a(href="/safjsdfj").list-item__link достижения
