header.header
  .container
    .header__logo.logo
      span.logo__text I 13 school
    nav.header__nav.nav
      ul.nav__ul.list
        li.list__item.list-item.dropdown
          a.list-item__link расписание 
        ul.dropdown-menu
          li.list-item__dropdown 1 - 4 классы
          li.list-item__dropdown 5 - 9 классы
          li.list-item__dropdown 10 - 11 классы
        li.list__item.list-item
          a.list-item__link курсы 
        li.list__item.list-item
          a.list-item__link преподаватели
        li.list__item.list-item
          a.list-item__link достижения
