doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/static/css/style.css")
    title
  body
    .error-404
      .error-404__text Упс ничего не найдено 
      a(href="/").error-404__link.button  На главную

      
