doctype html
html(lang="en")
  include tpl/head.pug
  body
    include tpl/header.pug
    .curses
      .container
        .curse
          .curse__smth
            img(src="/static/imgs/data.png", alt="").curse__smth-img
            button.curse__smth-btn.button.button-large подать заявку

          .curse__about.curse-about
            h3.curse-about__header Мобильная разработка
            p.discription Обучающиеся получают навыки по планированию и проведению исследований интернет-пространства, количественному и качественному анализу информации, выявлению и систематизации информационных поводов. 
  script(src="/static/js/script.js")
        

