doctype html
html(lang="en")
  include tpl/head.pug
  body
    include tpl/header.pug
    section.main
      .container
        h1.main__header школа информационных технологий номер 13
        p.main__discription.discription наша школа сотрудничает с  российскими компаниями такие как it cube и astral. 
        a(href="#curses")
          button.main__button.button учиться 
    section.about
      .container
        img(src="/static/imgs/shool_famely.png", alt="", srcset="").about__img
        .about__text
          h2.about__header О нас
          p.about__discription.discription Как и гласит название – это не обычная, рядовая школа Калуги, а IT-школа, где готовят к профессиям, таким как программирование, разработка разнообразных приложений и другое.
    section.curses
      .container
        h3#curses.curses__header Бесплатные it курсы #[br] для обучения
        .curses__list.curses-list
          .curses-list__item
            a(href="/curse/mobile").curses__link
              img(src="/static/imgs/mobile.png", alt="").list-item__img
              h4.list-item__header Mobile разработка
              .list-item__discription It sumsung 2 раза в неделю проводит курсы по мобильной разработке с #[br] крутыми преподавателями,#[br] практикантами 
          .curses-list__item
            a(href="/curse/python").curses__link
              img(src="/static/imgs/python.png", alt="").list-item__img
              h4.list-item__header Python разработка
              .list-item__discription Python от Яндекс.Лицей (впервые появился в 1991 году, IT-cube,с которым сотрудничает наша школа, не оставила его без внимания)  
          .curses-list__item
            a(href="/curse/data-scince").curses__link
              img(src="/static/imgs/data.png", alt="").list-item__img
              h4.list-item__header Data-scince
              .list-item__discription Data Scientist создаёт и обучает предиктивные модели с помощью алгоритмов машинного обучения и нейросетей, помогая бизнесу находить скрытые закономерности, прогнозировать развитие событий и оптимизировать ключевые бизнес-процессы. 
          .curses-list__item
            a(href="/curse/robots").curses__link
              img(src="/static/imgs/robot.png", alt="").list-item__img
              h4.list-item__header Роботы
              .list-item__discription Ро́бот — автоматическое устройство, предназначенное для осуществления различного рода механических операций, которое действует по заранее заложенной программе.
          .curses-list__item
            a(href="/curse/vr-ar").curses__link
              img(src="/static/imgs/vr.png", alt="").list-item__img
              h4.list-item__header VR AR разработка
              .list-item__discription VR/AR(основы создания 3D моделей и программного обеспечения для виртуальной и дополненной реальности изучается именно в этом кружке)  
          .curses-list__item
            a(href="/curse/java").curses__link
              img(src="/static/imgs/java.png", alt="").list-item__img
              h4.list-item__header Java разработка
              .list-item__discription  Java программирование.(известный язык программирования, созданный в 1995 году. В нашей школе учат тому, как с ним обращаться)  
