doctype html
html(lang="en")
  include tpl/head.pug
  body
    include tpl/header.pug
    section.main
      .container
        h1.main__header школа информационных технологий номер 13
        p.main__discription.discription наша школа сотрудничает с  российскими компаниями такие как it cube и astral. 
        button.main__button.button учиться 
    section.about
      .container
        img(src="/static/imgs/shool_famely.png", alt="", srcset="").about__img
        .about__text
          h2.about__header О нас
          p.about__discription.discription Наша школа самая лучшая на свете, что вообще видел свет наша школа самая лучшая на свете, что вообще видел светнаша школа самая лучшая на свете, что вообще видел светнаша школа самая лучшая на свете, что вообще видел светнаша школа самая лучшая на свете, что вообще видел свет
    section.curses
      .container
        h3.curses__header Бесплатные it курсы #[br] для обучения
        .curses__list.curses-list
          .curses-list__item
            a(href="/curse/java").curses__link
              img(src="/static/imgs/mobile.png", alt="").list-item__img
              h4.list-item__header Mobile разработка
              .list-item__discription It sumsung 2 раза в неделю проводит курсы по мобильной разработке с #[br] крутыми преподавателями,#[br] практикантами 
