doctype html
html(lang="en")
  include tpl/head.pug
  body
    include tpl/header.pug
    .curses
      .container
        .curse
          .curse__smth
            img(src="/static/imgs/mobile.png", alt="").curse__smth-img
            button.curse__smth-btn.button.button-large подать заявку

          .curse__about.curse-about
            h3.curse-about__header Mobile разработка
            p.discription IT ШКОЛА SAMSUNG была запущена в 2014 году. Курс, разработанный Российским Исследовательским центром Samsung, поможет учащимся освоить фундаментальные разделы ИТ и программирования в адаптированной для школьников форме, получить практические навыки по разработке мобильных приложений в идеологии промышленной индустрии «от идеи до дистрибуции». 

