doctype html
html(lang="en")
  include tpl/head.pug
  body
    include tpl/header.pug
    .curses
      .container
        .curse
          .curse__smth
            img(src="/static/imgs/python.png", alt="").curse__smth-img
            button.curse__smth-btn.button.button-large подать заявку

          .curse__about.curse-about
            h3.curse-about__header Python разработка
            p.discription Яндекс.Лицей — это образовательный проект Яндекса по обучению школьников программированию. Учебная программа рассчитана на два года. На занятиях ребята знакомятся с теорией и осваивают технологии на практике.

        
  script(src="/static/js/script.js")
