doctype html
html(lang="en")
  include tpl/head.pug
  body
    include tpl/header.pug
    .curses
      .container
        .curse
          .curse__smth
            img(src="/static/imgs/robot.png", alt="").curse__smth-img
            button.curse__smth-btn.button.button-large подать заявку

          .curse__about.curse-about
            h3.curse-about__header Мобильная разработка
            p.discription научись созадвать уникальные приложения для андройд на подвинутом языке java с финальным выпускным проектом, мобильную разработку финансирует it школа самсунг, так что все бесплатно, все оборудование уже закуплено и выдается ученику на времы проведения занятий, ничего докупать не надо. Что еще писать на знаю. научись созадвать уникальные приложения для андройд на подвинутом языке java с финальным выпускным проектом, мобильную разработку финансирует it школа самсунг, так что все бесплатно, все оборудование уже закуплено и выдается ученику на времы проведения занятий, ничего докупать не надо. Что еще писать на знаю.

        
