doctype html
html(lang="en")
  include tpl/head.pug
  body
    include tpl/header.pug
    .curses
      .container
        .curse
          .curse__smth
            img(src="/static/imgs/robot.png", alt="").curse__smth-img
            button.curse__smth-btn.button.button-large подать заявку

          .curse__about.curse-about
            h3.curse-about__header Роботы
            p.discription Создание и программирование роботов и автоматизированных устройств на базе конструкторов LEGO и др.  Конструируя собственные устройства, обучающиеся научатся ставить задачи и находить решения, получат базовые знания по программированию, а также по физике, механике, электрике, электронике, проектированию и другим сферам, на стыке которых находится современная робототехника.
  script(src="/static/js/script.js")
