doctype html
html(lang="en")
  include tpl/head.pug
  body
    include tpl/header.pug
    section.teachers
      .container
        h3 Наши учителя
        .teachers__persons.teachers-persons
          .teachers-persons__person
            img(src="https://sun9-72.userapi.com/c857424/v857424736/23451f/UkZUo-HrDsw.jpg").person__img
            .person__discription.person-discription
              .person-discription__header Зинонева Виктория Витальевна
              .person-discription__about.discription Учитель русского и литературы
          .teachers-persons__person
            img(src="https://im0-tub-ru.yandex.net/i?id=77a3063ca4ff31316647633049e91b15&n=13").person__img
            .person__discription.person-discription
              .person-discription__header Ли Ольга Лионодовна 
              .person-discription__about.discription Учитель инфоорматики 
  script(src="/static/js/script.js")
