doctype html
html(lang="en")
  include tpl/head.pug
  body
    include tpl/header.pug
    .curses
      .container
        .curse
          .curse__smth
            img(src="/static/imgs/vr.png", alt="").curse__smth-img
            button.curse__smth-btn.button.button-large подать заявку

          .curse__about.curse-about
            h3.curse-about__header VR AR разработка
            p.discription Разработка приложений виртуальной и дополненной реальности - перспективное направление, в котором можно освоить технологии объемной визуализации и программирования. Обучающиеся разрабатывают образовательные приложения, проектируют симуляторы для будущих инженеров, проводят виртуальные туры по культурным и историческим достопримечательностям и др.
  script(src="/static/js/script.js")
