*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Nunito;
}

button{
  outline: none;
  border: none;
}

ul{
  list-style: none;
}

.container {
  max-width: 108em;
  margin: 0 auto; 
}

header{
  background: #55C8E1;
}

h4{
  font-size: 3.4rem;
  font-weight: 700;
}

h3 {
  text-align: center;
  font-size: 5.5rem;
  line-height: 7rem;
}

header > .container {
  display: flex;
  align-items: center;
  height: 6rem;
  justify-content: space-between;
}

.logo__text {
  font-size: 2.0rem;
  font-weight: 600;
  color: #fff;
}

.dropdown-menu{
  display: none;
}

.nav__ul{
  display: flex;
}

.list-item{
  margin: 0 0 0 6.4rem;
}

.list-item__link{
  font-size: 2.1rem;
  letter-spacing: 8%;
  color: #fff;
  cursor: pointer;
}

h1, h2, h3, h4 {
  color: #101633;
}

h1{
  font-size: 6.2rem;
  line-height: 7.5rem;
  position: relative;
  z-index: 999999999999999;
  text-shadow: 0px 0px 5px rgba(255,255,255);
}

h2{
  font-size: 55px;
  font-weight: 700;

}

.discription{
  position: relative;
  z-index: 999999999999;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  max-width: 47.7rem;
  margin-top: 2.8rem;
}

.main__button{
  margin-top: 2.8rem;
}

.button{
  font-size: 21px;
  background: #55C8E1;
  letter-spacing: 0.3rem;
  color: #fff;
  padding: 1.8rem 5rem;
  text-transform: uppercase;
}

.main{
  padding: 27rem 0;
  background: url('/static/imgs/foto.png') no-repeat right center fixed;
}

.about > .container {
  display: flex;
}

.button-large {
  margin: 3rem  0 0 0;
  font-size: 2.4rem;
  white-space: nowrap;
}

.curse {
  display: flex;
}

.curse__smth {
  display: flex;
  flex-direction: column;
}

.about {
  margin-top: 15rem;
}
.about > .container { display: flex; justify-content: space-between;
  align-items: center;
}

.about__img { max-width: 100%; } 
.about__text {
  margin-left: 8rem;;
}

.curses-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3.8rem;
}

.curses-list__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 35rem;
  margin-bottom: 6.1rem;;
}

.list-item__discription {
  color: #5D6671;
  line-height: 3rem;
  font-size: 1.8rem;
}

.curses__header {
  margin-top: 15rem
}

.list-item__img {
  max-width: 100%;
}

.curses > .container {
}

.error-404 {
  height: 100vh;
  text-align: center;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.error-404__text {
  font-size: 6.2rem;
  line-height: 7.5rem;
  position: relative;
  z-index: 999999999999999;
  text-shadow: 0px 0px 5px rgba(255,255,255);
}

.error-404__link {
  text-decoration: none;
  margin-top: 3rem;;
}

.curses__link {
  text-decoration: none;
}

.curses {
  margin-top: 12rem;
}

.curse-about {
  margin-left: 9rem;;
}

.curse-about > .curse-about__header{
  text-align: left !important;
}

.curse-about > .discription{
  max-width: 100%;
}
